<footer class="py-8 px-4 bg-gray-100">
  <div class="w-full flex justify-between max-w-7xl mx-auto">
    <span class="block">&copy; <%= Date.today.year %> Your Company</span>
    <ul class="flex items-center space-x-4">
      <li class="list-inline-item mr-3"><%= link_to "Terms", terms_path %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacy", privacy_path %></li>
    </ul>
  </div>
</footer>
